<link rel="stylesheet" href="style.css">
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.iframe-wrapper {
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    width: 100vw;
    height: 100vh;
}

.map-iframe {
    width: 100%;
    height: 100%;
    border: none;
}


